numpy
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-core
langchain-ollama
langchain-groq
langchain-text-splitters
langchain-google-genai
chromadb
pypdf
pymupdf
sentence-transformers
rich
pydantic